- name: Download
  shell: powershell
  env:
    SRC_URL: ${{ secrets.LINK }}
  run: |
    $ProgressPreference = "SilentlyContinue"
    Invoke-WebRequest -Uri "$Env:SRC_URL" -OutFile "app.jpg"

- name: Show File Info
  shell: powershell
  run: |
    Write-Host "File exists:" (Test-Path app.jpg)
    $file = Get-Item app.jpg
    Write-Host "File size (bytes):" $file.Length
    Get-FileHash app.jpg | Format-List
